#cabecalho {
    background-color: var(--color-primary);
    color: var(--cor-fonte-a);
    padding: 1rem;
    /* border: red dashed 2px; */
    box-shadow: 1px 2px 40px 10px rgba(0, 0, 0, 0.1);
}

#cabecalho nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho .logomarca p {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    font-family: "Chakra";
}

#cabecalho .botaoes-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#cabecalho .botaoes-usuario .botoes {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.4s ease-in;
}

#cabecalho .botaoes-usuario .botoes i {
    cursor: pointer;
}

#cabecalho .botaoes-usuario .botoes i:hover {
    font-weight: bold;
}

#cabecalho .botaoes-usuario .usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabecalho .botaoes-usuario .usuario:hover {
    cursor: pointer;
}

#cabecalho .botaoes-usuario .usuario p {
    font-weight: bold;
}

#cabecalho .botaoes-usuario .usuario span {
    color: var(--cor-fonte-b);
}

.usuario-configuracao {
    /* border: red solid 1px; */
    position: absolute;
    width: 200px;
    top: 4.0rem;
    right: 0;
    background-color: var(--color-primary);
    color: var(--cor-fonte-a);
    padding: 1rem;
    font-size: 14px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    z-index: 10;
}

.usuario-configuracao ul li {
    display: flex;
    align-items: center;
    padding: 0.6rem;
}

.usuario-configuracao ul li:hover {
    font-weight: bold;
    transition: font-weight 0.4s ease-out;
}

.usuario-configuracao ul li i {
    margin-right: 1rem;
    font-size: 16px;
}

.usuario-configuracao.apresentar {
    opacity: 1;
    max-height: 500px;
}

.usuario-configuracao-perfil {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 4.9rem;
    left: 0;
    /* border: red solid 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(1px);
    opacity: 0;
    max-height: 100%;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.usuario-configuracao-perfil.apresentar-modal-perfil {
    opacity: 1;
    max-height: 100vh;
    top: 0;
}

.usuario-configuracao-perfil form {
    background-color: white;
    width: 800px;
    /* height: auto; */
    height: 400px;    
    padding: 20px;
    border-radius: 8px;
}

.usuario-configuracao-perfil form .modal-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}

.usuario-configuracao-perfil form .modal-rodape a {
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.usuario-configuracao-perfil form .modal-rodape a:nth-child(1) {
    background-color: var(--cor-fonte-c);
    color: var(--cor-fonte-a);
    width: 80%;
}

.usuario-configuracao-perfil form .modal-rodape a:nth-child(2) {
    background-color: var(--cor-fundo-b);
    color: var(--cor-fonte-a);
    width: 20%;
}

.divisor {
    border-bottom: var(--color-medium) solid 1px;
}