@font-face {
    font-family: "Suse";
    src: url("../fonts/Suse/Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo-a: #011124;
    --cor-fonte-a: #e4ecef;
    --cor-fonte-b: #8b93a1;
}

body {
    font-family: "Montserrat";
}

#cabecalho {
    background-color: var(--cor-fundo-a);
    color: var(--cor-fonte-a);
    padding: 1rem;
}

#cabecalho nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cabecalho .logomarca p {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    font-family: "Suse";
}

#cabecalho .botaoes-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#cabecalho .botaoes-usuario .botoes {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#cabecalho .botaoes-usuario .usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red dashed 2px; */
}

#cabecalho .botaoes-usuario .usuario p {
    font-weight: bold;
}