:root {
    --cor-fundo-b: #c5000f;
    --cor-fonte-a: #e4ecef;
    --cor-fonte-b: #8b93a1;
    --cor-fonte-c: #011124;
    --cor-fonte-d: #0163aa;
}

:root {
	--color-primary: #011124;
	--color-primary-rgb: 1,17,36;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #010f20;
	--color-primary-tint: #1a293a;

	--color-secondary: #0163aa;
	--color-secondary-rgb: 1,99,170;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #015796;
	--color-secondary-tint: #1a73b3;

	--color-tertiary: #6030ff;
	--color-tertiary-rgb: 96,48,255;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #542ae0;
	--color-tertiary-tint: #7045ff;

	--color-success: #2dd55b;
	--color-success-rgb: 45,213,91;
	--color-success-contrast: #000000;
	--color-success-contrast-rgb: 0,0,0;
	--color-success-shade: #28bb50;
	--color-success-tint: #42d96b;

	--color-warning: #ffc409;
	--color-warning-rgb: 255,196,9;
	--color-warning-contrast: #000000;
	--color-warning-contrast-rgb: 0,0,0;
	--color-warning-shade: #e0ac08;
	--color-warning-tint: #ffca22;

	--color-danger: #c5000f;
	--color-danger-rgb: 197,0,15;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #ad000d;
	--color-danger-tint: #cb1a27;

	--color-light: #f6f8fc;
	--color-light-rgb: 246,248,252;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #d8dade;
	--color-light-tint: #f7f9fc;

	--color-medium: #5f5f5f;
	--color-medium-rgb: 95,95,95;
	--color-medium-contrast: #ffffff;
	--color-medium-contrast-rgb: 255,255,255;
	--color-medium-shade: #545454;
	--color-medium-tint: #6f6f6f;

	--color-dark: #2f2f2f;
	--color-dark-rgb: 47,47,47;
	--color-dark-contrast: #ffffff;
	--color-dark-contrast-rgb: 255,255,255;
	--color-dark-shade: #292929;
	--color-dark-tint: #444444;
}